@charset "UTF-8";        #content {
            margin-top: 18%;
        }

        .textSpeak {
            margin-top: 20px;
            width: 500px;
            /* background-color: #808080; */
            text-align: left;
            font-size: 2rem;
            padding-right: 30px;
        }

        .record-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            background-color: #ff4d4d;
            border-radius: 50%;
            position: relative;
            cursor: pointer;
        }

        .record-button::before {
            content: '';
            width: 220px;
            height: 220px;
            border: 10px solid #000;
            border-radius: 50%;
            position: absolute;
            top: -35px;
            left: -35px;
            animation: pulse 1.5s infinite;
        }

        .record-button .fa-microphone {
            color: #fff;
            font-size: 50px;
            z-index: 1;
        }

        .record-button.stopped {
            background-color: white;
            border: 1px solid gray;
        }

        .record-button.stopped::before {
            display: none;
        }

        .record-button.stopped .fa-microphone {
            color: #808080;
        }

        @keyframes pulse {
            0% {
                transform: scale(0.9);
                opacity: 1;
            }

            70% {
                transform: scale(1);
                opacity: 0.7;
            }

            100% {
                transform: scale(0.9);
                opacity: 1;
            }

        }
        .close-icon {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 24px;
        }

        .close-icon a:hover {
            color: #000;
        }
        .close-icon a{
            font-size: 2rem;
            text-decoration: none;
            color: #888;
        }